.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  padding-top: 2rem;
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

/* My Animals Section */
.animal-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.animal-box::before {
  content: "MY";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.animal-box:hover::before {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.2;
}

.animal-box::after {
  content: "ANIMAL";
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.animal-box:hover::after {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.2;
}

.animal-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.animal-box:hover .animal-name {
  top: 20px;
  opacity: 1;
}

.animal-detail-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.animal-box:hover .animal-detail-btn {
  bottom: 20px;
  opacity: 1;
}

.animal-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 100px);
  max-width: 350px;
  transition: 0.5s;
  z-index: 10;
}

.animal-box:hover .animal-img {
  transform: translate3d(-50%, -52%, 100px) scale(1.2);
}
